<div id="{{this.unityContainerSelector}}" class="unity-desktop">
  <canvas id="{{unityCanvasSelector}}"></canvas>
  <div id="{{unityLoadingBarSelector}}">
    <div id="unity-logo"></div>
    <div id="unity-progress-bar-empty">
      <div id="{{unityProgressBarSelector}}"></div>
    </div>
  </div>
  <div id="unity-warning"> </div>
  <div id="unity-footer">
    <!-- <div id="unity-webgl-logo"></div> -->
    <!-- <button id="{{buttonFullscreenSelector}}"></button> -->
    <!-- <div id="unity-build-title">My project</div> -->
  </div>
</div>